{% extends 'base.html' %}
{% block content %}
  <h1>Select a Function:</h1>
  <form action="action" method="post">
    <label for="arg">Enter URI:</label>
    <input type="text" name="arg">
    <input type="hidden" name="action" value="play_list">
    <input type="hidden" name="device_urlsafe_key" value="{{ device_urlsafe_key }}">
    <input type="submit" value="Play">
  </form>
  <br />
  <form action="action" method="post">
    <input type="hidden" name="action" value="skip_backward">
    <input type="hidden" name="device_urlsafe_key" value="{{ device_urlsafe_key }}">
    <input type="submit" value="skip_backward">
  </form>
  <form action="action" method="post">
    <input type="hidden" name="action" value="play_pause">
    <input type="hidden" name="device_urlsafe_key" value="{{ device_urlsafe_key }}">
    <input type="submit" value="Play/Pause">
  </form>
  <form action="action" method="post">
    <input type="hidden" name="action" value="skip_forward">
    <input type="hidden" name="device_urlsafe_key" value="{{ device_urlsafe_key }}">
    <input type="submit" value="Skip Forward">
  </form>
  <br />
  <form action="action" method="post">
    <input type="hidden" name="action" value="stop">
    <input type="hidden" name="device_urlsafe_key" value="{{ device_urlsafe_key }}">
    <input type="submit" value="Stop">
  </form>
  <form action="action" method="post">
    <label for="arg">Enter volume:</label>
    <input type="text" name="arg">
    <input type="hidden" name="action" value="set_volume">
    <input type="hidden" name="device_urlsafe_key" value="{{ device_urlsafe_key }}">
    <input type="submit" value="Set">
  </form>
{% endblock %}